body {
  margin-top: 0px;
  padding-top: 0px;
  font-family: tahoma;
  font-size: 12px;  
}
.breadcrumb, p {
  font-family: tahoma;
  font-size: 12px;
}

.navbar-static-top {
  margin-bottom: 19px;
}
.container-fluid, .container {
  background: white;
}

.navbar {
  background: none repeat scroll 0 0 #15212f !important;
}

@font-face {
    font-family: 'BYekan';
    font-weight: normal;
    src: url('../../fonts/BYekan.eot?#') format('eot'),  /* IE6?8 */
         url('../../fonts/BYekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../../fonts/BYekan.ttf') format('truetype');  /* Saf3?5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
     font-family: 'Droid Arabic Naskh';
     font-weight: normal;
     src: url("../../fonts/DroidNaskh-Regular.eot");
     src: url("../../fonts/DroidNaskh-Regular-ie.eot") format('embedded-opentype'),
        url("../../fonts/DroidNaskh-Regular.woff2") format('x-woff2'),
        url("../../fonts/DroidNaskh-Regular.woff") format('woff'),
        url("../../fonts/DroidNaskh-Regular.ttf") format('truetype')
 }


h1, h2, h4 , h5, h6, small { font-family: 'BYekan' !important;}
h1 { font-size: 24px; }
h2 { font-size: 20px; }
h3 { font-family: 'Droid Arabic Naskh' !important; font-size: 16px; }
h4 { font-size: 14px; }

a.btn, input, button, textarea { font-family: 'BYekan' !important; font-size: 1em !important}

.navbar-right {
  padding-left: 20px;
}
input, label, fieldset, nav {
  font-family: 'Droid Arabic Naskh' !important;
  font-size: 12px;
}

/*
 * Base structure
 */
 
.table-nonfluid {
   width: auto;
}
ul.nav > li {
  font-size: 12px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    right: 0;
    z-index: 0;
    height: auto;
    display: block;
    padding: 20px;
    padding-top: 51px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    direction: rtl;
    background-color: #f5f5f5;
    border-left: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-header {
  font-family: 'Droid Arabic Naskh' !important; font-size: 14px;
  padding-right: 10px;
  padding-left: 10px;
}
.nav-sidebar {
  margin-right: -20px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -21px;
}

.nav-sidebar > li > a {
  line-height: 1px !important;
  margin-bottom: 0px;
  margin-top: 0px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


a.sidebarHeader {
  cursor: hand !important;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.avatar {
  display: block;
  margin: 0 auto;
  max-width: 140px;
  max-height: 140px;
}
.avatar64 {
  display: block;
  margin: 0 auto;
  max-width: 64px;
  max-height: 64px;
}

span.help-block {
  font-family: tahoma;
  font-size: 12px;
}
.frmerror {
  font-family: tahoma;
  font-size: 12px;
}