@font-face {
    font-family: 'agoogle';
    font-weight: normal;
	src: url('../../fonts/agoogle.eot?#') format('eot'),  /* IE6?8 */
         url('../../fonts/agoogle.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../../fonts/agoogle.ttf') format('truetype');  /* Saf3?5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
	font-family: 'Rezvan';
	src: url('../../fonts/Rezvan.eot?#') format('eot'),
		 url('../../fonts/Rezvan.ttf') format('truetype'),
		 url('../../fonts/Rezvan.woff') format('woff');
}
@font-face {
    font-family: "Mitra";
    font-style: normal;
    font-weight: normal;
	src: url("../../fonts/BMitra-Regular.eot?#iefix") format("embedded-opentype"),
	     url("../../fonts/BMitra-Regular.woff") format("woff"), 
	     url("../../fonts/BMitra-Regular.ttf") format("truetype"), 
	     url("../../fonts/BMitra-Regular.svg#Mitra") format("svg");
}
@font-face {
    font-family: "Mitra";
    font-style: normal;
    font-weight: bold;
    src: url("../../fonts/BMitra-Bold.eot?#iefix") format("embedded-opentype"),
	     url("../../fonts/BMitra-Bold.woff") format("woff"), 
	     url("../../fonts/BMitra-Bold.ttf") format("truetype"), 
	     url("../../fonts/BMitra-Bold.svg#Mitra") format("svg");
}

html {
    font-size: 1.25em;
    line-height: 1.618;
}

img {
	max-width: 100%;
}

h1 {
    font-size: 2em;
}
h2, h3 {
    font-size: 1.618rem;
    letter-spacing: -2px;
}
h4 {
    font-size: 1rem;
    letter-spacing: -1px;
}
a {
	transition: color 0.3s ease 0s;
}
p {
    margin-bottom: 1rem;
    margin-top: 0;
}
a:focus {
    outline: thin dotted;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
hr {
    box-sizing: content-box;
    height: 0;
}
mark {
    background: none repeat scroll 0 0 #ff0;
    color: #000;
}
code, kbd, pre, samp {
    font-family: monospace,serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
}
q {
    quotes: "“" "”" "‘" "’";
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0 none;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0 none;
    padding: 0;
}
body {
	color: #222;
	text-rendering: optimizelegibility;
	font-family: 'Mitra';
	background: rgba(0,0,0, .005);
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 0 !important;
}
p {
    margin-bottom: 1rem;
    margin-top: 0;
}
*::-moz-selection {
    background-color: #dedede;
}

a, a:active {
	color: #D99100;
	text-decoration: none;
}
a:visited {
	color: #A76F00;
}

a:hover {
	color: #A78A00;
    border-bottom: 1px dotted #A78A00;
    text-decoration: none;
}
.whoiam {
    background-color: #020C24;
    background-color: #0D8800;
    background-color: #F00000;
    background-color: #8A9B0F;
    background-color: #609000;
    background-color: #E97F02;
    background-color: #FFAA00;
	color: white;
}
.whoiam a, .whoiam a:active, .whoiam a:visited {
	color: white;
	text-decoration: none;
}
.whoiam a:hover, .whoiam a:focus {
	text-decoration: none;
	color: #898376;
    border: none;
}

h1#personname{
    font-family: 'Rezvan';
	font-weight: 400;
}

p#personabout {
	font-family: 'agoogle';
	margin: 10px auto;
	padding-right: 1em;

}
p.social {
	padding-right: 1em;

}
.footer {
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 40px;
	border-top: 1px solid #eee;
	line-height: 1;
}
.copyright {
    border-top: 1px dotted #777;
    color: #333;
    font-size: 18px;
    line-height: 1.4;
    margin-top: 1.618rem;
    padding: 1.618rem 0;
    text-align: center;
}
article h4 {
	color: #777;
}

.req:before  {
    color: red;
    content: "* ";
}

.error {
    color: red;
}

.comment {
    border-top: 1px solid #eee;
    font-size:.8em;
}
.comment textarea {
    font-size: 1rem;
}
.comment input {
    font-size: .8rem;
}

.comments {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #eee;    
}
.comments .thumbnail {
    padding:0px;
    margin-bottom: 0px;
    border : none;
}
.comments .namesec {
    padding: 0px;
}
.comments .panelbox {
    padding-right: 0px;
}
.highlight {
    color:#428bca !important;
    text-decoration:none;
}