.req:before  {
	color: red;
	content: "* ";
}

.error {
	color: red;
}

.dir-up:after {
    content: ' ▲';
}
.dir-down:after {
    content: ' ▼';
}

.list-unstyled {
	margin-bottom: 0px;
}
.inTitle button {
	font-size: 12px !important;
}
.inTitle a {
	font-size: 12px !important;
}
.niceFont1 {
	font-family: 'Droid Arabic Naskh' !important;
}
.niceFont2 {	
	font-family: 'Nassim' !important;
}


.biggerText {
	font-size: 14px !important;
	font-weight: normal;
}
.muchBiggerText {
	font-size: 16px !important;
	font-weight: normal;
}

.deactive-sign {
	color: red;
}
.active-sign {
	color: green;
}
.red-sign {
	color: red;
}
.green-sign {
	color: green;
}
.blue-sign {
	color :blue;
}

.iamrtl {
	direction: rtl;
}
.iamltr {
	direction: ltr;
}